node_modules/
web_modules/
/build/
/src/public/
yarn-error.log

# ---- if using Zero-Install ----
# .yarn/unplugged
# .yarn/build-state.yml

# ---- if not using Zero-Install ----
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

!.gitkeep
