*.code-workspace
node_modules/
web_modules/
tmp/
.env
yarn-error.log
database-debug.log
*.gitskip*

/packages/rtdb-rules-builder/dist/

# ---- if using Zero-Install ----
# .yarn/unplugged/
# .yarn/build-state.yml

# ---- if not using Zero-Install ----
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
.pnp.*

!.gitkeep
