<script src="/__/firebase/{{ firebaseVersion }}/firebase-app.js"></script>

<each loop="sdk in firebaseUseSdks">
  <script src="/__/firebase/{{ firebaseVersion }}/firebase-{{ sdk }}.js"></script>
</each>

<switch expression="mode">
  <case n="'production'">
    <script src="/__/firebase/init.js"></script>
  </case>
  <case n="'development'">
    <script>
      firebase.initializeApp(JSON.parse('{{{ firebaseConfig }}}'));
    </script>
  </case>
  <case n="'test'">
    <script>
      firebase.initializeApp(JSON.parse('{{{ firebaseConfig }}}'));
    </script>
  </case>
</switch>
