<script src="{{ firebasePath }}/{{ firebaseVersion }}/firebase-app.js"></script>

<each loop="sdk in firebaseSdk">
  <script src="{{ firebasePath }}/{{ firebaseVersion }}/firebase-{{ sdk }}.js"></script>
</each>

<switch expression="env">
  <case n="'production'">
    <script src="/__/firebase/init.js"></script>
  </case>
  <case n="'development'">
    <script src="{{ firebaseInitPath }}"></script>
  </case>
  <case n="'test'">
    <script src="/__/firebase/init.js"></script>
  </case>
</switch>
