.header-fixed + * {
  margin-top: 66px;
}

.header-brand h5.title::after {
  content: "💬";
  padding-left: 3px;
  vertical-align: 30%;
}

.header-brand > :not(.nav-item) {
  display: contents;
}

.display-contents {
  display: contents;
}

#firebase-auth-container .mdl-textfield__label {
  margin-left: unset;
  margin-top: unset;
  margin-right: unset;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

#firebase-auth-container .is-focused > .mdl-textfield__label {
  padding-top: 0;
}
