.header-fixed + * {
  margin-top: 66px;
}

.header-brand h5.title::after {
  content: "💬";
  padding-left: 3px;
  vertical-align: 30%;
}

.header-brand > :not(.nav-item) {
  display: contents;
}

.display-contents {
  display: contents;
}
