<if condition="mode === 'production'">
  <script defer src="/__/firebase/{{ firebaseVersion }}/firebase-app.js"></script>
  <each loop="sdk in firebaseUseSdks">
    <script defer src="/__/firebase/{{ firebaseVersion }}/firebase-{{ sdk }}.js"></script>
  </each>
  <script defer src="/__/firebase/init.js"></script>
</if>
<else>
  <script defer src="https://www.gstatic.com/firebasejs/{{ firebaseVersion }}/firebase-app.js"></script>
  <each loop="sdk in firebaseUseSdks">
    <script defer src="https://www.gstatic.com/firebasejs/{{ firebaseVersion }}/firebase-{{ sdk }}.js"></script>
  </each>
  <script>
    function initApp() {
      firebase.initializeApp({{ firebaseConfig }});
      document.removeEventListener('DOMContentLoaded', initApp);
    }
    document.addEventListener('DOMContentLoaded', initApp);
  </script>
</else>
